/dist
/tmp
/out-tsc
/node_modules
/**/node_modules
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/connect.lock
/coverage/full
/coverage/report/*.json
/coverage/report.json
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.cache
.nx/cache
.DS_Store
Thumbs.db
*ormlogs.log
*combined.log
*.env
*.tmp.ts
*lint-report.json
